<section id="header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h5><img src="/admin/media/3.jpg" alt="" class="img-fluid"></h5>
          <button class="btn btn-success">Login</button>
          <button class="btn " id="signup">signup</button>
        </div>
      </div>
    </div>
    </section>