<div class="sidebar close">
  <div class="logo-details">
      <i class='bx bx-menu' ></i>
    <span class="logo_name">APIs PARTNERS</span>
  </div>
  <ul class="nav-links">
    <li>
      <a href="/dashboard">
        <i class='bx bx-grid-alt' "></i>
        <span class="link_name">Dashboard</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="/dashboard">Dashboard</a></li>
      </ul>
    </li>
    <li>
      <div class="iocn-link">
        <a href="#">
          <i class="bi bi-person-add"></i>
          <span class="link_name">Members</span>
        </a>
        <i class='bx bxs-chevron-down arrow' ></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Members</a></li>
        <li><a href="/memberregistraion">Registration</a></li>
        <li><a href="/activemember">Active</a></li>
        <li><a href="/pendingmember">Pending</a></li>
        <li><a href="/rejectmembers">Rejected</a></li>
      </ul>
    </li>
    <li>
      <div class="iocn-link">
        <a href="#">
          <i class="bi bi-people"></i>
          <span class="link_name">Employee Master</span>
        </a>
        <i class='bx bxs-chevron-down arrow' ></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="">Employee Master</a></li>
        <li><a href="/employeereg">Registration</a></li>
        <li><a href="/employeelist">Employee list</a></li>
        <li><a href="">Employee Menu</a></li>
      </ul>
    </li>

    <li>
      <a href="#">
        <i class="bi bi-wallet2"></i>
        <span class="link_name" >Wallet</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Wallet</a></li>
      </ul>
    </li>
</li>
</ul>
</div>
